/* Add any specific styles here if needed */
.transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
.transition-shadow:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

